openapi: 3.0.3
info:
  title: OpenWeatherMap
  version: 1.0.0
  contact: {}
servers:
  - url: http://api.openweathermap.org/data/2.5
paths:
  /weather:
    get:
      summary: /weather
      description: /weather
      operationId: weather
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
        - name: lon
          in: query
          required: true
          schema:
            type: number
        - name: units
          in: query
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
        - name: appid
          required: true
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'

components:
  schemas:
    
    WeatherMainResponse:
      required:
        - temp
        - temp_max
        - temp_min
        - feels_like
      type: object
      properties:
        feels_like:
          type: number
        grnd_level:
          type: number
        humidity:
          type: number
        pressure:
          type: number
        sea_level:
          type: number
        temp:
          type: number
        temp_max:
          type: number
        temp_min:
          type: number

    WeatherDescriptionResponse:
      required:
        - description
        - id
        - main
        
      type: object
      properties:
        description:
          type: string
        icon:
          type: string
        id:
          type: integer
        main:
          type: string
          
    WeatherResponse:
      required:
        - id
        - name
        - main
        - weather
      type: object
      properties:
        base:
          type: string
          example: stations
        clouds:
          type: object
          properties:
            all:
              type: number
        cod:
          type: number
        coord:
          type: object
          properties:
            lat:
              type: number
            lon:
              type: number
        dt:
          type: number
        id:
          type: integer
        main:
          $ref: '#/components/schemas/WeatherMainResponse'
            
        name:
          type: string
        sys:
          type: object
          properties:
            country:
              type: string
            id:
              type: integer
            sunrise:
              type: number
            sunset:
              type: number
            type:
              type: number
        timezone:
          type: number
        visibility:
          type: number
        weather:
          type: array
          items:
            $ref: '#/components/schemas/WeatherDescriptionResponse'

        wind:
          type: object
          properties:
            deg:
              type: number
            speed:
              type: number
tags: []
